header *, main *, footer * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #2ebfc2;
}

/* 
    background-color: #00DBDE;
    background-image: linear-gradient(123deg, #2ebfc2 0%, #b43eb6 100%);
 */
/* comienzo nav */
.nav {
  max-width: 100%;
  background-color: #b43eb6;
  border-bottom: 2px solid #530054;
}

.nav a {
  border-radius: 20px;
}

.nav a:hover {
  background-color: #2ebfc2;
}

/* fin nav */
/* comienzo header */
h1 {
  font-size: 50px;
}

h1, h2 {
  text-align: center;
}

.seccionTitulo {
  background-color: #2ebfc2;
}

/* fin header */
/* secciones */
.secciones {
  margin: 0;
  max-width: 100%;
  text-align: center;
}

/* seccionM = seccion Morado */
.seccionM {
  min-height: 400px;
  background-color: #b43eb6;
}

/* seccionA = seccion Azul */
.seccionA {
  min-height: 400px;
  background-color: #2ebfc2;
}

/* inicio gradientes */
.gradienteA-M {
  margin: 0;
  width: 100%;
  height: 8rem;
  background: #b43eb6;
  background: linear-gradient(0deg, #b43eb6 28%, #2ebfc2 100%);
}

.gradienteM-A {
  margin: 0;
  width: 100%;
  height: 8rem;
  background: #2ebfc2;
  background: linear-gradient(0deg, #2ebfc2 0%, #b43eb6 100%);
}

/* fin gradientes */
/* collage */
.preCollage {
  display: flex;
  justify-content: center;
}

.collage {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
  background-size: 100%;
  background-image: url(../imagenes/collage.png);
}

.postCollage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postCollage a {
  font-size: 200%;
  background-color: rgba(128, 128, 128, 0.852);
}

.postCollage a:hover {
  display: flex;
  animation: collage 1s forwards;
  align-items: center;
  justify-content: center;
}

/* animaciones */
@keyframes collage {
  0% {
    color: white;
    height: 40px;
    width: 290px;
  }
  100% {
    color: #2ebfc2;
    height: 400px;
    width: 400px;
  }
}

/* inicio productos */
.productos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productosProducto {
  width: 310px;
  height: 470px;
  background-color: #2ebfc2;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imagen {
  position: relative;
}

.productoImg {
  height: 70%;
  overflow: hidden;
}

.precio {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 10%;
  text-align: center;
  background-color: #2ebfc2;
  color: #4d0f8a;
}

.precio .fa-ethereum {
  color: #4d0f8a;
}

.productoInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.productoDescripcion {
  display: inline;
}

.productoSecComprar {
  display: flex;
}

.productoComprar {
  padding: 7px;
  border: 2px #2ebfc2 solid;
  border-radius: 6px;
  margin: 3px;
  background-color: #b43eb6;
}

.productoComprar:hover {
  color: aliceblue;
  animation: comprar 2s infinite;
}

/* animaciones productos */
@keyframes comprar {
  0% {
    background-color: #b43eb6;
    border: 2px #2ebfc2 solid;
  }
  50% {
    background-color: #2ebfc2;
    border: 2px #b43eb6 solid;
  }
  100% {
    background-color: #b43eb6;
    border: 2px #2ebfc2 solid;
  }
}

/* fin productos */
/* inicio estilos imagenes */
.imgInicio {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10%;
}

/* fin estilos imagenes */
/* FAQ tabla */
.tabla {
  height: 75%;
}

.tablaCol {
  color: aliceblue;
  background-color: #2ebfc2;
}

.tablaM {
  display: none;
}

/* formulario contacto */
.bloqueDeTexto {
  margin: 5px 0 5px 5px;
  padding: 5px;
  background-color: #2ebfc2;
  max-width: 100%;
  height: 3rem;
  max-height: 3rem;
  border-style: none;
  border-radius: 10px;
}

.form_contacto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.relleno, .sub_submit, .des_descripcion {
  margin: 10px;
}

.des_descripcion {
  display: flex;
  align-items: center;
  height: 328px;
  width: 328px;
}

.descripcion {
  display: block;
  max-height: 328px;
  max-width: 328px;
  height: 328px;
  width: 328px;
}

.submit {
  display: block;
  width: 120px;
}

/* inicio edicion de bootstrap */
.row {
  justify-content: center;
  align-items: center;
}

/* fin edicion de bootstrap */
.espacio {
  display: block;
  padding: 2rem;
}

/* comienzo main */
a {
  height: fit-content;
  width: fit-content;
  display: block;
}

.link {
  color: #2ebfc2;
  background-color: #b43eb6;
  border-radius: 15px;
}

.link:hover {
  background-color: #39e8eb;
  color: #b43eb6;
}

.slogan {
  min-width: 300px;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

/* footer */
.mail {
  color: #c71610;
  padding: 0;
}

.whatsapp {
  color: #28D146;
  padding: 0;
}

.instagram {
  color: #8a3ab9;
  padding: 0;
}

.formFooter {
  display: flex;
  justify-content: space-around;
}

.formFooter div {
  max-height: 70px;
}

.footerP {
  margin: 2 px;
  max-height: 60px;
}

.footerEmail {
  margin: 4px;
  max-height: 40px;
  border-radius: 5px;
  border-style: none;
}

.footerBoton {
  margin: 4px;
  max-height: 40px;
  border-radius: 5px;
  border-style: none;
  color: #2ebfc2;
}

.footerEnlaces {
  margin: 0;
  max-width: 100%;
}

.footerEnlace {
  font-size: 25px;
  margin-top: 5rem;
  text-align: center;
  background-color: #6f007144;
}

@media screen and (max-width: 800px) {
  .bloqueSlogan {
    display: flex;
    flex-direction: column;
  }
  .productos {
    justify-content: center;
  }
  .tablaD {
    display: none;
  }
  .tablaM {
    display: block;
  }
  .tablaCol {
    max-width: 33%;
    max-height: fit-content;
  }
  .formFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .formFooter .footerP, .formFooter .footerBoton, .formFooter .footerEmail {
    max-width: 80%;
    margin: 2% 5% 2% 5%;
  }
}
/*# sourceMappingURL=estilo.css.map */