@import "parciales/_reseteador.scss";
@import "parciales/_nav.scss";
@import "parciales/_header.scss";
@import "parciales/_secciones.scss";
@import "parciales/_collageInicio.scss";
@import "parciales/_productos.scss";
@import "parciales/_imagenes.scss";
@import "parciales/_tabla.scss";
@import "parciales/_contacto.scss";
@import "parciales/_miscelanea.scss";
@import "parciales/_footer.scss";
@import "parciales/_responsive.scss"