/* collage */
@mixin tama単os($width, $height) {
    height: $height;
    width: $width;
}

.preCollage{
    display: flex;
    justify-content: center;
}

.collage{
    display: flex;
    justify-content: center;
    @include tama単os(400px, 400px);
    background-size: 100%;
    background-image: url(../imagenes/collage.png);
}

.postCollage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.postCollage a{
    font-size: 200%;
    background-color: rgba(128, 128, 128, 0.852);
}

.postCollage a:hover{
    display: flex;
    animation: collage 1s forwards;
    align-items: center;
    justify-content: center;
}

/* animaciones */
@keyframes collage {
    0% {
        color: white;
        @include tama単os(290px, 40px)
    }
    100% {
        color: #2ebfc2;
        @include tama単os(400px, 400px)
    }
}