/* formulario contacto */
.bloqueDeTexto{
    margin: 5px 0 5px 5px;
    padding: 5px;
    background-color: #162c82;
    max-width: 100%;
    height: 3rem;
    max-height: 3rem;
    border-style: none;
    border-radius: 10px;
}
.form_contacto{
    .col{
        padding: 0;
        label{
            text-align: end;
        }
    }
}