/* footer */
$contactColor: (
    mail: #c71610,
    whatsapp: #28D146,
    instagram: #8a3ab9
);

@each $class, $color in $contactColor {
    .#{$class} {
        color: $color;
        padding: 0;
    }
 }

.formFooter{
    display: flex;
    justify-content: space-around;
}

.formFooter div{
    max-height: 70px;
}

.footerP{
    max-height: 60px;
}

.footerEmail{
    margin: 4px;
    max-height: 40px;
    border-radius: 5px;
    border-style: none;
}

.footerBoton{
    margin: 4px;
    max-height: 40px;
    border-radius: 5px;
    border-style: none;
    color: $azul;
}

.footerEnlaces{
    margin: 0;
    max-width: 100%;
}

.footerEnlace{
    margin-top: 5rem;
    text-align: center;
}