$azul: #2ebfc2;
$morado: #b43eb6;



/* inicio edicion de bootstrap */
.row{
    justify-content: center;
    align-items: center;
}
.accordion-button, .accordion-body{
    color: black;
}

/* fin edicion de bootstrap */

.espacio{
    display: block;
    padding: 2rem;
}


/* comienzo main */

a{
    height: fit-content;
    width: fit-content;
    display: block;
}

.link{
    color: $azul;
    background-color: $morado;
    border-radius: 15px;
    &:hover{
        background-color: #39e8eb;
        color: $morado;
    }
}

.slogan{
    min-width: 300px;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}