$azul: #162c82;
$morado: #700071;



/* inicio edicion de bootstrap */
.row{
    justify-content: center;
    align-items: center;
}
/* fin edicion de bootstrap */

.espacio{
    display: block;
    padding: 2rem;
}


/* comienzo main */

a{
    height: fit-content;
    width: fit-content;
    display: block;
}

.link{
    background-color: $morado;
    border-radius: 15px;
    &:hover{
        background-color: $azul;
        color: $morado;
    }
}

.slogan{
    margin: 0;
    text-align: center;
    font-size: 2rem;
}