/* comienzo nav */
.nav{
    max-width: 100%;
    background-color: #b43eb6;
    border-bottom: 2px solid #530054;
    a{
        border-radius: 20px;
        
        &:hover{
            background-color: #2ebfc2;
        }
    }
}
/* fin nav */