/* inicio productos */
$azul: #2ebfc2;
$morado: #b43eb6;

.productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productosProducto{
    width: 310px;
    height: 470px;
    background-color: $azul;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imagen{
    position: relative;
}

.productoImg{
    height: 70%;
    overflow: hidden;
}

.precio{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 10%;
    text-align: center;
    background-color: $azul;
    color: #4d0f8a;
    .fa-ethereum{
        color: #4d0f8a;
    }
}

.productoInfo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.productoDescripcion{
    display: inline;
}

.productoSecComprar{
    display: flex;
}

.productoComprar{
    padding: 7px;
    border: 2px $azul solid;
    border-radius: 6px;
    margin: 3px;
    background-color: $morado;
    &:hover{
        color: aliceblue;
        animation: comprar 2s infinite;
    }
}

/* animaciones productos */
@keyframes comprar {
    0% {
        background-color: $morado;
        border: 2px $azul solid;
    }
    50% {
        background-color: $azul;
        border: 2px $morado solid;
    }
    100% {
        background-color: $morado;
        border: 2px $azul solid;
    }
}


/* fin productos */