header *, main *, footer *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
footer{
    background-color: #2ebfc2;
}
/* 
    background-color: #00DBDE;
    background-image: linear-gradient(123deg, #2ebfc2 0%, #b43eb6 100%);
 */