@media screen and (max-width: 800px) {
    
    .bloqueDeTexto{
        max-width: 70%;
    }

    .tablaD{
        display: none;
    }
    .tablaM{
        display: block;
    }

    .formFooter{
        .footerP, .footerBoton, .footerEmail{
            min-width: 80%;
            margin: 2% 20% 0 20%;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}