header *, main *, footer *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
footer{
    background-color: #162c82;
}