@media screen and (max-width: 800px) {
    
    .productos{
        justify-content: center;
    }

    .bloqueDeTexto{
        max-width: 70%;
    }

    .tablaD{
        display: none;
    }
    .tablaM{
        display: block;
    }

    .tablaCol{
        max-width: 33%;
        max-height: fit-content;
    }

    .formFooter{
        .footerP, .footerBoton, .footerEmail{
            max-width: 80%;
            margin: 2% 5% 2% 5%;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}