$azul: #162c82;
$morado: #700071;

/* secciones */
.secciones{
    margin: 0;
    max-width: 100%;
    text-align: center;
}

/* seccionM = seccion Morado */
.seccionM{
    min-height: 400px;
    background-color: $morado;
}

/* seccionA = seccion Azul */
.seccionA{
    min-height: 400px;
    background-color: $azul;
}

/* inicio gradientes */
.gradienteA-M{
    margin: 0;
    width: 100%;
    height: 8rem;
    background: rgb(67, 18, 81);
    background: linear-gradient(0deg, $morado 28%, $azul 100%);
}

.gradienteM-A{
    margin: 0;
    width: 100%;
    height: 8rem;
    background: rgb(22,44,130);
    background: linear-gradient(0deg, $azul 0%, $morado 100%);
}

/* fin gradientes */
