/* FAQ tabla */
.tabla{
    margin: 0 5rem;
    height: 75%;
}

.tablaCol{
    display: flex;
    align-items: center;
    background-color: #162c82a7;
    height: 3rem;
    margin: 2px;
    border-radius: 5px;
}